@media screen and (max-width:600px) {
    .header {
        width: 85%;
    }

    .nav-container .nav-logo-name {
        flex: 1;
        gap: 6px;
    }

    .nav-container .nav-list-container {
        display: none;
    }

    .nav-bars-icon {
        display: block;
    }
}